<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['movies']"><img src="../../../assets/images/navbar_brand.png" alt=""></a>
        <button (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" class="navbar-toggler" type="button" data-toggle="collapse"
                aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div [ngbCollapse]="isCollapsed" class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li ngbDropdown class="nav-item">
                    <a ngbDropdownToggle class="nav-link" href="javascript:void(0)" id="moviesDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Movies
                    </a>
                    <div ngbDropdownMenu aria-labelledby="moviesDropdown">
                        <a [routerLinkActive]="['active']" class="dropdown-item" [routerLink]="['movies', 'latest']">Latest</a>
                        <a [routerLinkActive]="['active']" class="dropdown-item" [routerLink]="['movies', 'top-rated']">Top Rated</a>
                        <a [routerLinkActive]="['active']" class="dropdown-item" [routerLink]="['movies', 'most-voted']">Most Voted</a>
                    </div>
                </li>

                <li ngbDropdown class="nav-item">
                    <a ngbDropdownToggle class="nav-link" href="javascript:void(0)" id="seriesDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        TV Series
                    </a>
                    <div ngbDropdownMenu aria-labelledby="seriesDropdown">
                        <a [routerLinkActive]="['active']" class="dropdown-item" [routerLink]="['series', 'on-the-air']">On The Air</a>
                        <a [routerLinkActive]="['active']" class="dropdown-item" [routerLink]="['series', 'top-rated']">Top Rated</a>
                        <a [routerLinkActive]="['active']" class="dropdown-item" [routerLink]="['series', 'most-popular']">Most Popular</a>
                    </div>
                </li>

                <li ngbDropdown class="nav-item">
                    <a ngbDropdownToggle class="nav-link" href="javascript:void(0)" id="userDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        User
                    </a>
                    <div ngbDropdownMenu aria-labelledby="userDropdown">
                        <!-- Logged in -->
                        <a *ngIf="isLoggedIn()" [routerLinkActive]="['active']" class="dropdown-item" [routerLink]="['user', 'account']">Account</a>
                        <a *ngIf="isLoggedIn()" class="dropdown-item" [routerLink]="['movies', 'latest']" (click)="onLogout()">Logout</a>
                        <!-- Not logged yet -->
                        <a *ngIf="!isLoggedIn()" [routerLinkActive]="['active']" class="dropdown-item" [routerLink]="['user', 'signin']">Login</a>
                        <a *ngIf="!isLoggedIn()" [routerLinkActive]="['active']" class="dropdown-item" [routerLink]="['user', 'signup']">Signup</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <app-search></app-search>
            </form>
        </div>
    </div>
</nav>