nav {
    background-image: url("../../../public/images/black_pattern.jpg");
    border-bottom: 1px solid chartreuse;
}

#moviesDropdown {
    color: white;
}

#seriesDropdown {
    color: white;
}

#userDropdown {
    color: white;
}