<div class="wrapper">
    <div class="serie-container">
        <div class="row">

            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="poster-image sticky">
                    <img src="{{serie?.poster_path? 'https://image.tmdb.org/t/p/w342/' + serie.poster_path : 'http://via.placeholder.com/342x513?text=No%20Poster%20Image'}}"
                         alt="Poster">
                </div>
                <div class="poster-buttons" *ngIf="serie?.videos['results'].length != 0">
                    <div class="btn-transform transform-vertical red">
                        <div (click)="openVerticallyCentered(content)" class="youtube item item-1 redbtn"> Watch Trailer</div>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="main-content">
                    <h1 class="title">{{serie?.name}}</h1>

                    <div class="social-btn">
                        <a href="#" class="parent-btn"><i class="fa fa-heart"></i>&nbsp;Add to Favorite</a>
                        <a href="#" class="parent-btn"><i class="fa fa-thumbs-up"></i>&nbsp;Like</a>
                    </div>

                    <div class="rating-single">
                        <div class="rate">
                            <i class="fa fa-star"></i>
                            <p><span>{{serie?.vote_average}}</span> /10<br>
                                <span class="avrg">{{serie?.vote_count}} Votes</span>
                            </p>
                        </div>
                    </div>

                    <div class="info">
                        <div class="content">
                            <div class="overview">
                                <div class="row">
                                    <div class="col-md-8 col-sm-12 col-xs-12">
                                        <div class="title-hd-sm">
                                            <h4>Overview</h4>
                                        </div>
                                        <p>{{serie?.overview}}</p>
                                        <div class="title-hd-sm">
                                            <h4>Cast</h4>
                                        </div>
                                        <div class="cast-item" *ngFor="let cast of serie?.credits['cast'] | slice:0:7">
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <img src="{{cast['profile_path']? 'https://image.tmdb.org/t/p/w45' + cast['profile_path'] : 'http://via.placeholder.com/45x45?text=No%20Profile%20Image'}}" alt="Actor picture">
                                                    <p class="actor" data-toggle="tooltip" data-placement="top" title="{{cast['name']}}">&nbsp;{{cast['name'] | slice:0:20}}</p>
                                                </div>
                                                <p class="character" data-toggle="tooltip" data-placement="top" title="{{cast['character']}}">as {{cast['character']}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-12 col-sm-12">
                                        <div class="title-hd-sm">
                                            <h4>Info</h4>
                                        </div>
                                        <div class="sb-it">
                                            <p *ngIf="serie?.homepage != null">
                                                <a href="{{serie.homepage}}">Homepage</a>
                                            </p>
                                        </div>
                                        <div class="sb-it">
                                            <h6>Director: </h6>
                                            <p *ngFor="let director of serie?.created_by">
                                                {{director['name']}}
                                            </p>
                                        </div>
                                        <div class="sb-it">
                                            <h6>Genres:</h6>
                                            <p><span *ngFor="let genre of serie?.genres; let i = index">
                                                {{genre['name']}}<span *ngIf="i < serie.genres.length - 1">, </span>
                                            </span></p>
                                        </div>
                                        <div class="sb-it">
                                            <h6>Seasons:</h6>
                                            <p>{{serie?.number_of_seasons}}</p>
                                            <h6>Episodes:</h6>
                                            <p>{{serie?.number_of_episodes}}</p>
                                            <h6 *ngIf="serie?.in_production">In production</h6>
                                        </div>
                                        <div class="sb-it">
                                            <h6>First On The Air</h6>
                                            <p>{{serie?.first_air_date}}</p>
                                        </div>
                                        <div class="sb-it">
                                            <h6>Episodes run-time:</h6>
                                            <p>{{serie?.episode_run_time}} min</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Trailer</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <iframe width="100%" height="315" [src]="trailer" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
    </div>
</ng-template>


<!--<div class="wrapper">-->
<!--<div class="backdrop-image">-->

<!--</div>-->
<!--<div class="container">-->
<!--<div class="poster-image">-->
<!--<img src="https://image.tmdb.org/t/p/w342/ooBGRQBdbGzBxAVfExiO8r7kloA.jpg" alt="" class="img-fluid">-->
<!--</div>-->
<!--<div class="info-container">-->
<!--<div class="title"><h1>The Big Bang Theory</h1></div>-->
<!--<div class="social-container">X   O</div>-->
<!--<div class="meta-container">-->
<!--<span>First Air Date 2007</span>-->
<!--<span>8 Seasons</span>-->
<!--<span>Comedy</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--https://image.tmdb.org/t/p/-->
<!--backdrop: /nGsNruW3W27V6r4gkyc3iiEGsKR.jpg-->
<!--poster w300: /ooBGRQBdbGzBxAVfExiO8r7kloA.jpg-->