/* GENERIC */
.wrapper {
    margin-top: 90px;
}

/* HEADER */

/* MOVIES AND SERIES LIST */

.container .row {
    display: flex;
    flex-wrap: wrap;
}

.list > div[class*='col-'] {
    display: flex;
}

.card {
    background-image: url("../images/black_pattern.jpg");
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #534b4e
}

.card img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.card:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.card div {
    text-align: center;
    color: white;
}

.poster {
    width: 300px;
    height: 400px;
}


a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.card .title {
    font-weight: bold;
    font-size: 110%;
    text-decoration: none;
}

.rating {
    font-weight: lighter;
}

.release {
    font-weight: lighter;
}

/* SINGLE MOVIE/SERIE */

.single-container .row > div[class*="col-"] {
    display: unset;
}

.title {
    font-family: 'Dosis', sans-serif;
    font-size: 36px;
    color: #ffffff;
    font-weight: 700;
    text-transform: none;
    margin-bottom: 25px;
}

.poster-image img {
    position: relative;
    margin-right: 30px;
    border: 0;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.poster-image .sticky {
    top: 392px;
}

.poster-buttons {
    text-align: center;
    padding: 18px;
    display: flex;
    flex-direction: column;
}

.poster-buttons a {
    height: 45px;
}

.btn-transform {
    position: relative;
    display: inline-block;
    height: 45px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn-transform .item {
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    text-align: center;
    backface-visibility: hidden;
    transition: transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    text-transform: uppercase;
}

.btn-transform .transform-vertical .item-1 {
    transform: rotateX(0deg);
}

.btn-transform .transform-vertical .item-2 {
    transform: rotateX(180deg);
}

.redbtn {
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #dd003f;
    padding: 13px 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.social-btn {
    margin-bottom: 20px;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.social-btn a {
    color: red;
}

.social-btn i {
    padding: 14px 14px;
    border-radius: 50%;
    border: 1px solid;
}

.parent-btn {
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 35px;
}

.rate {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.rate p {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
    margin-left: 10px;
}

.rate i {
    font-size: 36px;
    color: yellow;
}

.avrg {
    font-size: 12px;
    color: #4280bf;
}

.rating-single {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.rating-single .rate {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.title-hd-sm {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    border-bottom: 1px solid #233a50;
    padding-bottom: 8px;
}

.title-hd-sm h4 {
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 300;
    text-transform: none;
    line-height: 24px !important;
}

.cast-it {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.cast-left {
    width: 50%;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.character {
    text-align: right;
}

.sb-it {
    margin-bottom: 30px;
}

.sb-it h6 {
    font-family: 'Dosis', sans-serif;
    font-size: 17px;
    color: #dfeeff;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 10px;
}

@media (max-width: 991px) {
    .poster-image .sticky {
        max-width: 400px;
    }

    .poster-image img {
        display: flex;
        margin-right: auto;
        margin-left: auto;
    }
}

/* TRAILER MODAL */
.modal-title {
    color: white;
}

.modal-content {
    background-color: #000000b3;
}

.modal-content .close {
    color: white;
}

.modal-content .close:hover {
    color: white;
}

/* USER */
form label {
    color: white;
}

.sign {
    margin-left: auto;
    margin-right: auto;
}