<ng-template #rt let-r="result" let-t="term">
        <span *ngIf="r['original_name'] || r['title']">
                <img *ngIf="r['poster_path']" [src]="'https://image.tmdb.org/t/p/w92/' + r['poster_path']" width="30">
        {{ r['original_name'] || r['title']}} ({{(r['release_date'] || r['first_air_date'] | date:'y')}})
        </span>
</ng-template>

<input style="font-family: FontAwesome;" id="typeahead-template"
       type="text" class="form-control"
       placeholder="&#xf002;  Movies / Series"
       [(ngModel)]="model"
       [ngbTypeahead]="search"
       [resultTemplate]="rt"
       (selectItem)="onSelect($event)"
/>